* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: lime;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('matrix.gif');
    opacity: 15%;
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    font-size: 5rem;
    padding: 2%;
    padding-bottom: 10%;
    background-color: black;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 50px;
}

button {
    background-color: black;
    border: 1px solid lime;
    padding: 8px 16px;
    width: 150px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(22, 22, 22);
}

button:active {
    background-color: green;
}

input {
    color: black;
    width: 400px;
    height: 24px;
    padding: 8px 16px;
}

#texto-decodificado {
    border: 1px solid lime;
    width: 550px;
    height: 200px;
    padding: 8px 16px;
    background-color: black;
    cursor: pointer;
    word-wrap: break-word;
}

#texto-decodificado:hover {
    background-color: #222222;
}

#texto-decodificado:active {
    background-color: green;
}

footer {
    bottom: 0;
    position: absolute;
}

@media (width <=630px) {

    input {
        width: 280px;
    }

    #texto-decodificado {
        width: 320px;
    }

    h1 {
        font-size: 2.7rem;
        padding-bottom: 15%;
    }

    p {
        font-size: 0.8rem;
    }

    a {
        font-size: 0.8rem;
    }
}